.nav_container {
  @apply py-2 dark:bg-[#013240]
  dark:border-b dark:border-slate-700;
} 
.nav_logo {
  @apply font-bold text-inherit cursor-pointer;
}
.nav_links {
  @apply hidden sm:flex gap-8;
}
.nav_links a {
  @apply lg:w-[50px] text-[#54BA6E] dark:text-[#FFE9B7] hover:font-extrabold hover:text-[#DD4C39] 
  hover:italic dark:hover:text-[#54BA6E];
} 
.nav_mobile_links a {
  @apply text-[#54BA6E] dark:text-[#FFE9B7] hover:font-extrabold hover:text-[#DD4C39] 
  hover:italic dark:hover:text-[#54BA6E];
}
